<div
  class="question"
  [formGroup]="form"
  *ngIf="
    !question.hiddenIfNotRequired ||
    (question.hiddenIfNotRequired && form.get(question.key).validator)
  "
  [ngSwitch]="question.controlType"
>
  <label
    *ngIf="question.controlType !== 'checkbox' && question.label"
    class="question__label"
    [attr.for]="question.key"
    >{{ question.label }}
  </label>

  <input
    *ngSwitchCase="'textbox'"
    class="question__answer question__input
  input"
    [formControlName]="question.key"
    [id]="question.key"
    [type]="question.type"
    [required]="question.required"
    [name]="question.name || question.key"
    [placeholder]="question.plaseholder || ''"
    [maxlength]="question.fixedLength || null"
    [step]="question.step || null"
    [min]="question.min"
    [max]="question.max"
  />

  <div
    *ngSwitchCase="'date'"
    class="question__datebox textbox-array__item question__filebox-box"
  >
    <input
      [formControlName]="question.key"
      [required]="question.required"
      [id]="question.key"
      class="question__answer question__input input no-border-right file__input"
      matInput
      [matDatepicker]="picker"
      [name]="question.name || question.key"
    />
    <input
      type="button"
      class="textbox-array__item-delete button inset-shadow file__label"
      (click)="picker.open()"
      value="выбрать"
    />
    <mat-datepicker [touchUi]="isMobile()" #picker></mat-datepicker>
  </div>

  <div *ngSwitchCase="'file'" class="question__filebox" #fileContainer>
    <div class="textbox-array__item question__filebox-box">
      <input
        class="question__answer question__input input file__input"
        [value]="fileName"
        [class.ng-invalid]="!fileName"
        [class.ng-valid]="fileName"
        readonly
        (click)="fileBtn.click()"
        (keydown.space)="fileBtn.click()"
        (keydown.enter)="fileBtn.click()"
        aria-label="choose file btn"
      />
      <label
        #fileBtn
        [for]="question.key"
        class="textbox-array__item-delete button inset-shadow file__label no-border-right"
      >
        выбрать
      </label>
      <button
        (click)="onFileDelete(question.key)"
        class="textbox-array__item-delete button inset-shadow file__label"
      >
        удалить
      </button>
      <div class="filebox__file-spinner-box" [class.hidden]="spinnerHidden">
        <mat-progress-spinner
          class="filebox__file-spinner"
          color="accent"
          mode="indeterminate"
          [diameter]="getDiametr(fileContainer)"
        ></mat-progress-spinner>
      </div>
    </div>
    <input
      [id]="question.key"
      type="file"
      [required]="question.required"
      class="question__answer question__input input input-file"
      (change)="onFileChange($event.target)"
    />
  </div>

  <div *ngSwitchCase="'group'" class="question__group">
    <app-question
      class="group__question"
      *ngFor="let item of question.items"
      [question]="item"
      [form]="form"
      (formArrayButtonClick)="addNewFormControl()"
      (fileChange)="onFileChange($event)"
      (fileDelete)="onFileDelete($event)"
      [fileName]="fileName"
      [spinnerHidden]="spinnerHidden"
    ></app-question>
  </div>

  <div *ngSwitchCase="'textbox-array'" class="question__textbox-array">
    <div class="textbox-array__items" [formArrayName]="question.key">
      <label
        class="textbox-array__item"
        *ngFor="let inp of getFormArray(question.key).controls; let i = index"
      >
        <input
          class="question__answer question__input input file__input"
          [type]="question.type"
          [id]="i"
          [formControlName]="i"
        />
        <button
          class="textbox-array__item-delete button inset-shadow file__label"
          (click)="onFormArrayButtonClick('delete', i)"
        >
          удалить
        </button>
      </label>
    </div>

    <button
      (click)="onFormArrayButtonClick('add')"
      class="button textbox-array__add-button"
    >
      Добавить
    </button>
  </div>

  <mat-checkbox
    *ngSwitchCase="'checkbox'"
    class="question__answer question__input question__input-checkbox question__label"
    [formControlName]="question.key"
    [id]="question.key"
    type="checkbox"
    [required]="question.required"
    [labelPosition]="'before'"
  >
    {{ question.label }}</mat-checkbox
  >

  <mat-radio-group
    *ngSwitchCase="'radio'"
    class="question__answer question__input-radio-group"
    [formControlName]="question.key"
    [id]="question.key"
  >
    <mat-radio-button
      class="question__answer question__input question__input-checkbox question__input-radio"
      *ngFor="let btn of question.values"
      [id]="btn.key"
      [value]="btn.key"
      >{{ btn.label }}</mat-radio-button
    >
  </mat-radio-group>

  <mat-select
    *ngSwitchCase="'dropdown'"
    class="question__answer question__select select"
    [id]="question.key"
    [formControlName]="question.key"
    [required]="question.required"
  >
    <mat-option *ngFor="let opt of question.options" [value]="opt.value">{{
      opt.value
    }}</mat-option>
  </mat-select>

  <textarea
    *ngSwitchCase="'textarea'"
    class="question__answer question__textarea textarea"
    [formControlName]="question.key"
    [id]="question.key"
    [required]="question.required"
    [name]="question.name || question.key"
    minlength="10"
  ></textarea>
</div>
