<div
  class="question"
  [formGroup]="form"
  *ngIf="
    !question.hiddenIfNotRequired ||
    (question.hiddenIfNotRequired && form.get(question.key).validator)
  "
  [ngSwitch]="question.controlType"
>
  <label
    *ngIf="question.controlType !== 'checkbox'"
    class="question__label"
    [attr.for]="question.key"
    >{{ question.label }}</label
  >

  <input
    *ngSwitchCase="'textbox'"
    class="question__answer question__input input"
    [formControlName]="question.key"
    [id]="question.key"
    [type]="question.type"
    [required]="question.required"
    [name]="question.name || question.key"
  />

  <div *ngSwitchCase="'date'" class="question__datebox">
    <input
      [formControlName]="question.key"
      [required]="question.required"
      [id]="question.key"
      class="question__answer question__input input"
      matInput
      [matDatepicker]="picker"
      [name]="question.name || question.key"
    />
    <mat-datepicker #picker></mat-datepicker>
    <button
      class="button question__button"
      mat-raised-button
      (click)="picker.open()"
    >
      Выбарть
    </button>
  </div>

  <mat-checkbox
    *ngSwitchCase="'checkbox'"
    class="question__answer question__input question__input-checkbox"
    [formControlName]="question.key"
    [id]="question.key"
    type="checkbox"
    [required]="question.required"
    [labelPosition]="'before'"
  >
    {{ question.label }}</mat-checkbox
  >

  <mat-select
    *ngSwitchCase="'dropdown'"
    class="question__answer question__select select"
    [id]="question.key"
    [formControlName]="question.key"
    [required]="question.required"
  >
    <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{
      opt.value
    }}</mat-option>
  </mat-select>

  <textarea
    *ngSwitchCase="'textarea'"
    class="question__answer question__textarea textarea"
    [formControlName]="question.key"
    [id]="question.key"
    [required]="question.required"
    [name]="question.name || question.key"
  ></textarea>
</div>
