<h2>
  Заявка на прием гарантийного инструмента
</h2>
<h2>DeWALT, Stanley, Black & Decker</h2>
<h2 class="m-b-15">в сервисный центр УП «18»</h2>
<p>
  Доставка гарантийного электроинструмента в/из сервисного центра осуществляется
  сторонней транспортной компанией за счет средств сервисного центра УП «18».
</p>
<p>
  Время оказания услуги по доставке: в будние дни с 9-00 до 18-00.
</p>
<p class="no-margin-bottom">
  Обязательное условие осуществления доставки:
</p>
<ul>
  <li>ПРАВО на гарантийный ремонт;</li>
  <li>
    ПОСЛЕ получения сервисным центром УП 18 всех необходимых сведений и
    скан-копий документов;
  </li>
  <li>ПОСЛЕ согласования даты и времени передачи груза перевозчику.</li>
</ul>
<p>
  Для приема гарантийного электроинструмента сервисным центром УП 18 на каждый
  пересылаемый инструмент должен быть заполнен гарантийный талон установленного
  образца, электронную копию которого необходимо своевременно предоставить в
  сервисный центр вместе с данной электронной заявкой.
</p>
<p>
  Просим Вас ознакомиться с условиями гарантии завода-изготовителя, изложенными
  в паспорте изделия.
</p>
<p class="no-margin-bottom">
  Гарантийный ремонт не будет осущуствляться если:
</p>
<ul>
  <li>поломка не подпадает под условия гарантии завода-изготовителя;</li>
  <li>
    ремонт признан негарантийным по характеру неисправности и/или
    предоставленным документам.
  </li>
</ul>
<p>
  В этом случае Клиент/Владелец инструмента возмещает фактические транспортные
  расходы Сервисному центру в полном размере, а именно доставку в/из сервисного
  цента УП «18».
</p>
<p>
  С условиями оказания негарантийного/платного ремонта можно ознакомиться по
  <a
    target="_blank"
    href="https://drive.google.com/open?id=1qk174YhY1DwEniA_j3NggIjjA3awQPYB"
  >
    ссылке</a
  >.
</p>
