:host {
  position: absolute;
  display: block;
  top: 2rem;
  right: 2rem;
  width: 20rem;
  height: 6rem;
  text-align: center;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #f4f4f4;
  background-color: #febd176c;
  padding-bottom: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
  animation: open 200ms;
}

.button {
  margin-top: auto;
}

@keyframes open {
  from {
    right: -100%;
  }

  to {
    right: 2rem;
  }
}
