.header,
.main,
.footer {
  width: 100vw;
  overflow: hidden;
  padding: 1rem 3rem;
  background-color: #000;
}

.header {
  height: 5rem;
}

.main {
  position: absolute;
  top: 5rem;
  bottom: 8rem;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 2rem 10rem;
  background-color: #fff;
  color: #000;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8rem;
}

@media only screen and (max-width: 1010px) {
  .header,
  .main,
  .footer {
    padding: 0.5rem;
  }
}
