<header class="header">
  <app-header></app-header>
</header>
<main class="main">
  <router-outlet name="popup"></router-outlet>
  <section class="main__router-outlet-wrapper">
    <router-outlet></router-outlet>
  </section>
  <section class="tools" *ngIf="showTools && tools.length">
    <button
      class="tools__tool button"
      *ngFor="let tool of tools; let i = index"
      [class.button-selected]="i === currentToolIndex"
      [class.button-invalid]="tool.invalid"
      [class.button-valid]="tool.valid"
      (click)="toolsClickHandler(i)"
    >
      {{ tool.value['tool-vendor-code'] || 'без артикула' }}
    </button>
  </section>
</main>
<nav class="body__nav">
  <button
    class="body__nav-button button"
    *ngFor="let button of buttons; let i = index"
    (click)="button.onClick()"
    [class.disabled]="getDisabled(i)"
    [disabled]="getDisabled(i)"
    [routerLink]="button.link ? button.link : null"
  >
    {{ button.title }}
  </button>
</nav>
<footer class="footer">
  <app-footer></app-footer>
</footer>
