<form class="main__form" [formGroup]="curForm" *ngIf="curForm">
  <div *ngFor="let question of curQuestions">
    <app-question
      *ngIf="question.controlType !== 'textbox-array'; else elseBlock"
      [question]="question"
      [form]="curForm"
      (formArrayButtonClick)="addNewControlToArray()"
    ></app-question>
    <ng-template #elseBlock>
      <div [formArrayName]="question.key" class="question__textbox-array">
        <input
          class="question__answer question__input input"
          *ngFor="let inp of curForm.get(question.key).controls; let i = index"
          [id]="i"
          [formControlName]="i"
        />
        <button
          (click)="addNewControlToArray()"
          class="textbox-array__add-button"
        >
          Добавить
        </button>
      </div>
    </ng-template>
  </div>
</form>

<section class="tools">
  <button
    class="tools__tool button"
    (click)="onClickToTool(i)"
    *ngFor="let tool of formArrayData; let i = index"
    [class.button-selected]="i === currentFormIndex"
    [class.button-invalid]="curForm.invalid"
  >
    {{ tool['tool-vendor-code'] || 'без артикула' }}
  </button>
</section>

<nav class="main__nav">
  <button
    [disabled]="isDisableDeleteButton"
    class="main__nav-button button"
    (click)="deleteTool()"
  >
    Удалить инструмент
  </button>
  <button class="main__nav-button button" (click)="addNewTool()">
    Добавить инструмент
  </button>
  <button class="main__nav-button button" routerLink="/address">назад</button>
  <button class="main__nav-button button" routerLink="/departure">
    далее
  </button>
</nav>

<!-- [disabled]="form.invalid"  -->

<p *ngFor="let el of formArray">{{ el.value | json }}</p>
