<form [formGroup]="curForm" *ngIf="curForm">
  <div *ngFor="let question of questions">
    <app-question [question]="question" [form]="curForm"></app-question>
  </div>
</form>
<br />
<hr />
<button (click)="addNewTool()">Добавить инструмент</button><br />
<button (click)="deleteTool()">Удалить инструмент</button><br />
<button routerLink="/address">назад</button><br />
<button routerLink="/departure">дальше</button>
<!-- [disabled]="form.invalid"  -->
<br />
<hr />
<p>{{ formArrayData | json }}</p>
<br />
<hr />
<br />
<p>
  {{ curForm && curForm.value | json }}
</p>
