@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Play', 'Courier New', Courier, monospace;
  font-size: 15px;
  color: rgb(200, 200, 200);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
}

.header,
.main,
.footer {
  width: 100vw;
  overflow: hidden;
  padding: 1rem 3rem;
  background-color: #000;
}

.header {
  height: 5rem;
  min-height: 5rem;
}

.main {
  background-color: #fff;
  color: #000;
  flex-grow: 1;
  justify-content: center;
  display: flex;
  position: relative;
}

.tools {
  z-index: 1000;
  color: #000;
  padding: 1.2rem 1rem;
  flex-direction: column;
  overflow: auto;
  transform: translate(2rem, 0);
}

.main__router-outlet-wrapper {
  padding: 2rem 0.5rem 1rem;
  overflow: auto;
}
.footer {
  height: 8rem;
  min-height: 8rem;
}

.body__nav {
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.body__nav,
.main__router-outlet-wrapper {
  min-width: 30rem;
  max-width: 50rem;
  width: 100%;
}

.button {
  display: block;
  padding: 0.4rem 1.2rem;
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0);
  border: 1px solid rgba(0, 0, 0, 0.3);
  font: inherit;
  color: inherit;
  cursor: pointer;
  /* border-radius: 0.5rem; */
  min-width: 6rem;
  transition: box-shadow 250ms, border 250ms, background-color 250ms;
}

.button:hover {
  background-color: #fff;
  border: 1px solid #febd1755;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0.5);
}
.button:disabled:hover,
.button.disabled:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.button:disabled,
.button.disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0);
}
.button:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(102, 174, 233, 0.767),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0);
  border: 1px solid rgb(62, 168, 255);
}
.button:active {
  outline: none;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0.706);
  border: 1px solid #febd17;
}

.tools__tool.button.button-invalid {
  box-shadow: 0px 0px 10px 0 rgba(169, 68, 66, 0.376),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0);
}
.tools__tool.button.button-valid {
  box-shadow: 0px 0px 10px 0 rgba(70, 169, 66, 0.376),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0);
}
.tools__tool.button.button-selected {
  box-shadow: 0px 0px 10px 0 rgba(255, 190, 26, 0.706),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0);
}

.file__input:focus + .file__label {
  box-shadow: 0 0 8px rgba(102, 174, 233, 0.767);
}

.button.inset-shadow {
  box-shadow: 0 0 8px rgba(102, 174, 233, 0),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0);
  background-color: rgb(251, 251, 251);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.button.inset-shadow:hover {
  box-shadow: 0 0 8px rgba(102, 174, 233, 0),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0.502);
}
.button.inset-shadow:disabled:hover,
.button.inset-shadow.disabled:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.button.inset-shadow:disabled,
.button.inset-shadow.disabled {
  box-shadow: 0 0 8px rgba(102, 174, 233, 0),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0);
}
.button.inset-shadow:focus {
  box-shadow: 0 0 8px rgba(102, 174, 233, 0.767),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0);
  /* box-shadow: inset 0px 0px 10px 0 #febd1700; */
}
.button.inset-shadow:active {
  box-shadow: 0 0 8px rgba(102, 174, 233, 0),
    inset 0px 0px 10px 0 rgba(254, 189, 23, 0.706);
}

.question__input-radio {
  margin-left: 1rem;
}

.question__button {
  margin-left: 1rem;
  min-width: auto;
}

.body__nav-button {
  margin-right: 3rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

.body__nav-button:first-child {
  margin-right: 0;
}

.input,
.textarea,
.select {
  width: 100%;
  font-size: 1rem;
  display: block;
  padding: 0.3rem 0.7rem;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  /* border-radius: 0.3rem; */
}

.textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 4rem;
}

.input {
  transition: border-left 450ms;
}

.input:focus,
.textarea:focus,
.select:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.input.ng-valid,
.ng-valid[required],
.ng-valid.required {
  border-left: 0.3rem solid #42a948; /* green */
}

.input.ng-invalid,
.textarea.ng-invalid,
.select.ng-invalid {
  border-left: 0.3rem solid #a94442; /* red */
}

.input-file {
  display: none;
}

.question {
  margin-bottom: 1rem;
}

.question__datebox {
  display: flex;
}

.question__label {
  font-weight: 500;
  cursor: pointer;
}

.question__input[type='time'] {
  cursor: text;
}

.tools__tool {
  display: block;
  padding: 0.5rem 0.8rem;
  /* border-radius: 0.3rem; */
  text-align: left;
  margin-bottom: 0.5rem;
  cursor: pointer;
  min-width: 8rem;
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  width: fit-content;
}

.header__nav-h3 {
  transition: all 400ms;
  color: #dddddd;
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 1rem;
}

.header__nav-link {
  color: inherit;
  cursor: default;
  text-decoration: none;
}
.header__nav-h3:last-child {
  margin-right: 0;
}

.header__nav-h3__current {
  color: #febd17;
  transform: scale(1.1);
  margin: 0 1.2rem 0 0.2rem;
}

.header__link {
  display: block;
  width: 8rem;
}

.header__logo {
  width: 100%;
  min-width: 70px;
}

.ng-scroll-content {
  padding: 0 1rem;
}

ng-scrollbar .main__form {
  margin-bottom: 5rem;
}

ng-scrollbar .main__form.main__form-no-margin-bottom {
  margin-bottom: 0;
}

.question__textbox-array .input {
  margin: 0 0.5rem 0;
}

.textbox-array__items {
  display: flex;
  flex-wrap: wrap;
}

.textbox-array__item {
  display: flex;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 15rem;
  align-items: center;
}

.textbox-array__item:last-child {
  margin-right: 0;
}

.textbox-array__item .input {
  margin: 0;
  z-index: 1;
  /* border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
  border-right: 1px solid transparent;
}

.no-border-right {
  /* border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
  border-right: 1px solid transparent;
  z-index: 1;
}

.textbox-array__item-delete {
  margin: 0;
  z-index: 1;
  /* border-top-left-radius: 0;
  border-bottom-left-radius: 0; */
  min-width: auto;
}

.filebox__file-spinner-box {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100%;
  margin-left: 0.5rem;
}

.question__filebox-box {
  max-width: 25rem;
}

.hidden {
  visibility: hidden;
}

.ng-scroll-content {
  max-width: 100%;
}

.question__group {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.question__group .question,
.question__group .textbox-array__item {
  margin-bottom: 0;
}

.question__group .group__question {
  margin-right: 0.5rem;
  width: 100%;
}
.question__group .group__question:last-child {
  margin-right: 0;
}

.table {
  border-spacing: 0;
  width: 100%;
}

.table .table {
  margin-bottom: 1rem;
}

.table__tr {
  cursor: default;
}

.table__tr .table__td {
  min-width: 5rem;
  max-width: 18rem;
}
.table__tr .table__td:last-child {
  text-align: end;
  padding-right: 3rem;
  word-wrap: break-word;
}

.table__tr.table__space {
  min-height: 1rem;
  height: 1rem;
}

.table__td {
  padding: 0.2rem 0.5rem;
}

.table__td-odd {
  background-color: rgba(253, 188, 21, 0.232);
}

.table .table__tr .table__td:first-child {
  padding-left: 3rem;
  font-weight: 500;
  max-width: fit-content;
  min-width: fit-content;
}

.table__tr.table__label .table__td:first-child {
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgba(133, 133, 133, 0.486);
}

.table .table .table__tr.table__label .table__td:first-child {
  font-size: 1rem;
  font-weight: 400;
}

.table__tr:not(.table__label):hover {
  background-color: rgba(133, 133, 133, 0.171);
}

@media only screen and (max-width: 1050px) {
  .header,
  .main__router-outlet-wrapper,
  .footer {
    padding: 1rem;
  }

  .main__router-outlet-wrapper {
    margin: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
  .header__nav {
    font-size: 0.9rem;
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 10px;
  }
  .header__nav {
    font-size: 0.9rem;
    margin-left: 1.5rem;
  }
}
